/* General Style */
:root {
  --dark-blue: #19283f;
  --dark-cyan: #33d1cc;
  --red: #ff3150;
  --orange: #ffc400;
  --trans: 0.3s linear;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Components */
.main-btn {
  color: var(--orange);
  background-color: var(--red);
  font-weight: bold;
  padding: 0.5rem 2rem;
  transition: var(--trans);
}
.main-btn:hover {
  color: var(--orange);
}
/* Header */
#header {
  background-color: var(--dark-blue);
}
.navbar {
  background-color: var(--dark-blue);
  position: sticky;
  top: 0px;
}
.navbar .nav-link {
  font-weight: bold;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--dark-cyan) !important;
}
.search {
  color: var(--dark-cyan);
  border-left: 1px solid var(--dark-cyan);
}
.navbar-toggler {
  color: #fff;
  border: 1px solid #fff;
  font-size: 24px;
  transition: var(--trans);
}
.navbar-toggler[aria-expanded="true"] {
  border: 1px solid var(--dark-cyan);
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* Landing */
.landing {
  height: calc(100vh - 72px);
}
/* Media Queries */
@media (max-width: 992px) {
  .search {
    border: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .navbar .main-btn {
    padding: 0.5rem 1rem;
  }
}
