/* General Style */
:root {
  --dark-blue: #19283f;
  --dark-cyan: #33d1cc;
  --red: #ff3150;
  --orange: #ffc400;
  --light-color: #eff7fa;
  --trans: 0.3s linear;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Components */
.main-btn {
  color: var(--orange);
  background-color: var(--red);
  font-weight: bold;
  padding: 0.5rem 2rem;
  transition: var(--trans);
}
.main-btn:hover,
.main-btn:focus {
  color: var(--orange);
}
.title-combo::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--dark-cyan);
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
}
/* Header */

.navbar {
  background-color: var(--dark-blue);
}
.navbar .nav-link {
  font-weight: bold;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--dark-cyan) !important;
}
.search {
  color: var(--dark-cyan);
  border-left: 1px solid var(--dark-cyan);
}
.navbar-toggler {
  color: #fff;
  border: 1px solid #fff;
  font-size: 24px;
  transition: var(--trans);
}
.navbar-toggler[aria-expanded="true"] {
  border: 1px solid var(--dark-cyan);
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* Landing */
.landing {
  height: calc(100vh - 72px);
  background-color: var(--dark-blue);
}
/* Services */
.icons {
  height: 200px;
}

.icons .number,
.icons .shape {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.icons .shape {
  height: 50px;
}
.icons .number {
  color: var(--light-color);
  font-size: 12rem;
  bottom: -12px;
}
.service h3 {
  color: var(--orange);
}

/* Portfolio */
#portfolio {
  background-color: var(--light-color);
}
.cats li {
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.cats li.active {
  color: var(--orange);
  background-color: var(--red);
  padding: 0.5rem 1rem;
}
.cats li:not(.active):hover {
  color: var(--red);
}
#portfolio .project {
  position: relative;
  border: 5px solid #fff;
  cursor: pointer;
  overflow: hidden;
}
#portfolio .project::before {
  content: attr(data-proj);
  position: absolute;
  background-color: rgb(51 209 204 / 80%);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  transform: translateX(-101%);
  transition: var(--trans);
}
#portfolio .project:hover::before {
  transform: translateX(0);
}
/* Media Queries */
@media (max-width: 992px) {
  .search {
    border: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .navbar .main-btn {
    padding: 0.5rem 1rem;
  }
}
